@import "src/theme/variables.scss";

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

/* set max width of menu */
@media screen and (min-width: 1000px) {
  .main-menu {
    max-width: 100px;
    /*background-color: /*var(--menu-background-color) $menu-background-color;*/
  }
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

/* ADDED */
.main-menu-content {
  /*--background: #54d61c;*/

  /*background: rgb(194,52,52);
  background: radial-gradient(circle, rgba(194,52,52,1) 0%, rgba(252,70,70,1) 100%);*/

  /*background: rgb(0,155,233);
  background: linear-gradient(150deg, rgba(0,155,233,1) 0%, rgba(6,54,164,1) 100%);*/

  /*background: rgb(0,155,233);
  background: linear-gradient(150deg, rgba(0,155,233,0.510224158022584) 0%, rgba(6,54,164,0.613865614605217) 100%);*/

  /*background: rgb(0,189,233);
  background: linear-gradient(150deg, rgba(0,189,233,1) 0%, rgba(6,164,56,1) 100%);*/

  /*--background: $menu-background-color;*/
  /*background-color: $menu-background-color !important;*/
  /*var(--menu-background-color)*/

  //--ion-background-color: $menu-background-color-unknown/*rgb(253,129,8)*//*rgb(9,9,121) !important*/;

  /*background: rgb(253,129,8) !important;*/
  /*background: linear-gradient(150deg, rgba(253,129,8,1) 0%, rgba(202,63,30,1) 100%) !important;*/

  //background: /*#ff9100*//*#007dff*/var(--ion-color-primary);
  //color: var(--ion-color-primary-contrast);
  //test-color: var(--ion-color-primary-contrast);
  /*background: linear-gradient(354deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 56%);*/

  /*--color: white;*/
}
