<ion-app>
  <ion-split-pane contentId="main-content" *ngIf="isLoggedIn()">
    <ion-menu contentId="main-content" type="overlay" class="main-menu">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="main-menu-content">
        <ion-list id="inbox-list">
          <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of constructedPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="hasSubPages(p) ? [] : [p.url]" lines="none" detail="false"
                      [routerLinkActive]="hasSubPages(p) ? (p.show ? 'selected' : '') : 'selected'" [ngClass]="{'selected': p.show === true}" (mouseup)="toggleSubMenu(p)">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
              <ion-icon slot="end" [ios]="getDropdownMenuIconName(p) + '-outline'" [md]="getDropdownMenuIconName(p) + '-sharp'" *ngIf="hasSubPages(p)"></ion-icon>
            </ion-item>
            <ion-menu-toggle auto-hide="false" *ngFor="let sp of p.subPages; let i = index">
              <ng-container *ngIf="p.show">
                <ion-item  style="padding-left: 30px; --background: rgba(var(--ion-color-primary-rgb), 0.14)" routerDirection="root" [routerLink]="[sp.url]" lines="none" detail="false"
                          routerLinkActive="selected">
                  <ion-icon slot="start" [ios]="sp.icon + '-outline'" [md]="sp.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ sp.title }}</ion-label>
                </ion-item>
              </ng-container>
            </ion-menu-toggle>
          </ion-menu-toggle>
        </ion-list>

       <!--  <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <!-- hide sidebar, if the user isn't logged in -->
  <ion-router-outlet id="main-content1" *ngIf="!isLoggedIn()"></ion-router-outlet>
</ion-app>
